:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* -webkit-text-size-adjust: 100%; */
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.string {
  display: inline-block;
  font-size: 3rem;
  margin-right: 20px;
}

.pinyin {
  display: inline-block;
  font-size: 1.2rem;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.mantine-AppShell-main {
  padding-bottom: 16px;
  padding-left: 70px !important;
  padding-right: 70px !important;
  padding-top: 76px;
}

@media (max-width: 520px) {
  h1 {
    font-size: 22px;
  }
}
